# Environment
APP_ENVIRONMENT=local

# PostgreSQL
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=challenger_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT
SECRET_KEY=sua-chave-secreta-super-segura-aqui-mude-em-producao
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# CORS
APP_CORS=*

# Admin defaults
ADMIN_DEFAULT_EMAIL=admin@mail.com
ADMIN_DEFAULT_PASSWORD=pass@word
ADMIN_DEFAULT_ROLE=admin
